/* universal styles 
=================================================*/

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

/* top navigation styles 
=================================================*/
.container {
    display: flex;
    justify-content: space-between;
}

.nav-container {
    display: inline-flex;
    height: 120px;
    margin: 10px;
    justify-content: center;
}

.logo {
    width: 15%;
}

.left, .right {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    background-color: #555E56;
    width: 40%;
}

button {
    height: 40px;
    background-color: #555E56;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: white;
    
}

.nav-container a {
    text-transform: uppercase;
    text-decoration-line: none;
    font-family: 'Roboto', sans-serif;
    color: white;
}
