/* universal styles 
=================================================*/

body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* top navigation styles 
=================================================*/
.header-container {
    display: flex;
    justify-content: space-between;
}
.nav-container {
    display: inline-flex;
    height: 120px;
    /*margin: 10px;*/
    justify-content: center;
}
.logo {
    width: 15%;
}
.left, .right {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    background-color: #555E56;
    width: 42.5%;
}
.menu-items {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0;
}
.nav-container li {
    display: flex;
}
.nav-container a, .small-header-menu a {
    text-transform: uppercase;
    text-decoration-line: none;
    font-family: 'Lato', sans-serif;
    color: white;
}
.header-small {
    display: none;
}
/* header for medium and small screens */

.small-header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.small-header-logo img {
    height: 80px;
}
.small-header-menu {
    display: flex;
    background-color: #555E56;
}
.small-header-menu ul {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
}
.small-header-menu li {
    display: flex;
}

@media only screen and (max-width: 900px) {
    .header-container {
        display: none;
    }
    .header-small {
        display: block;
    }
}
@media only screen and (max-width: 500px) {
    a {
        font-size: 0.8rem;
    }
}

/* projects section styles 
=================================================*/

.projects-container {
    text-align: center;
    width: 100%;
    margin: 10px;
    padding-top: 30px;
    border: 2px black;
}
.projects {
    display: inline-flex;
    justify-content: space-evenly;
    width: 90%;
    padding-top: 2rem;
}
.featured-project {
    /*background-color: #CCE3D0;*/
    width: 30%;
    box-shadow: 5px 5px 5px #CCE3D0;
    margin: 0 20px;
}

.featured-project img {
    width: 80%;
}