/* universal styles 
=================================================*/

body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    background-image: url("./resources/background-backdrop-pattern-design-texture-shiny-1418296-pxhere.com.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    margin: 0;
}
h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}
h3 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
    letter-spacing: 1px;
    color: white;
}
p {
    color: white;
}
button {
    background-color: rgba(204, 227, 208, 0.3);
    border: none;
    border-radius: 5px;
    height: 50px;
    color: white;
    font-size: 1.3rem;
    padding: 0.8rem;
}
button:hover {
    cursor: grab;
    background-color: #67AB72;
}

/* intro section styles 
=================================================*/
.intro-container {
    display: flex;
    min-height: 460px;
    margin-top: 160px;
    border: 5rem solid #555E56;
}
.intro-content {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    box-shadow: 10px 10px 30px black inset;
}
.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    padding: 0 20px;
    text-align: center;
}
.motto {
    color: white;
    font-size: 1.4rem;
    margin: 0;
    width: 60%;
}
.presentation-slides {
    display: flex;
    flex-direction: column;
}
.slides {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}
.slides img {
    width: 200px;
    height: 200px;
    border-radius: 125px;
}
.slides a {
    color: white;
}
.slides p {
    text-align: center;
    font-size: 1.4rem;
    width: 70%;
}
.slide-title {
    font-family: 'Cormorant Garamond' serif;
    text-transform: uppercase;
}
.next {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.next button {
    width: 100px;
}
#next-four {
    width: 200px;
}

/* styling for medium and small screens 
===================================================*/
@media only screen and (max-width: 780px) {
    h1 {
        font-size: 2rem;
    }
    .motto {
        font-size: 1.2rem;
    }
    #initiate {
        font-size: 1rem;
    }
    .intro-container {
        min-height: 300px;
        border: 2rem solid #555E56;
    }
    .slides {
        flex-direction: row;
        width: 100%;
        height: 250px;
        padding: 30px 0;
        margin-right: 0;
    }
    .slides img {
        width: 150px;
        height: 150px;
        border-radius: 75px;
    }
    .presentation-slides {
        flex-direction: column;
    }
    h3 {
        font-size: 1.5rem;
        padding: 0 10px;
    }
    .slides p {
        padding: 0 10px
    }
    .next {
        margin: 20px 5px;
    }
    .slide-title {
        min-width: 33%;
    }
}

@media only screen and (max-width: 500px) {
    .motto {
        font-size: 1rem;
        width: 90%;
    }
    #initiate {
        height: 60px;
    }
    .presentation-slides {
        justify-content: center;
    }
    .slides {
        flex-direction: column;
        justify-content: center;
        padding: 5px
    }
    h3 {
        font-size: 1.2rem;
        margin: 5px 0 0 0;
        text-align: center;
        padding-bottom: 5px;
        border-bottom: 1px solid grey;
    }
    .slides p {
        margin: 5px 0 0 0;
        font-size: 1rem;
    }
    .slides img {
        display: none;
    }
    .next {
        margin: 5px;
    }
    .next button {
        font-size: 1.1rem;
    }
    button#next-four {
        width: 120px;
        padding-right: 3px;
        padding-left: 3px;
    }
}


/* projects section styles 
=================================================*/

.projects-container {
    text-align: center;
    width: 100%;
    margin: 10px;
    padding-top: 30px;
    border: 2px black;
}
.projects, .services-container {
    display: inline-flex;
    justify-content: space-evenly;
    width: 90%;
    padding-top: 2rem;
}
.featured-project {
    background-color: rgba(85, 94, 86, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 0 30px;
    padding: 0 10px;
}

.featured-project h2 {
    color: white;
    font-weight: 300;
}

.feature-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}
.feature-image img {
    width: 90%;
}

.project-title {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.featured-project p {
    color: white;
}
.note {
    font-size: 0.8rem;
}

@media only screen and (max-width: 1100px) {
    .featured-project {
        margin: 10px;
    }
    .featured-project p {
        font-size: 1rem;
    }
    .feature-image img {
        max-width: 70%;
    }
}

@media only screen and (max-width: 780px) {
    .projects {
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }
    .featured-project {
        width: 90%;
        box-shadow: none;
        border-bottom: 2px solid #555E56;
    }
    .feature-image {
        width: 50%;
        height: 50%;
        margin-top: 10px;
    }
    #colmar img {
        width: 100%;
    }
    h2 {
        font-size: 1.8rem;
        letter-spacing: 1px;
    }
}

/*contact page styles 
=================================================*/
.contact-info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
}
.contact-info article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.contact-info h3 {
    text-transform: uppercase;
}
.contact-info a {
    color: white;
    font-size: 1.3rem;
    transition: color 0.5s;
}
.contact-info a:hover {
    color: purple;
}
.fab {
    font-size: 2.5rem;
    padding: 20px;
    transition: color 0.5s;
}
.fab:hover {
    color: purple;
}
@media only screen and (max-width: 500px) {
    a.email {
        font-size: 0.8rem;
        padding: 1rem 0;
    } 
}

/* services page styles
=====================================================*/
.services-container {
    width: 100%;
    padding: 30px;
}
.services {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 15px;
    padding: 10px;
    background-color: rgba(85, 94, 86, 0.4);
    line-height: 1.3rem;
}
.services h3 {
    margin: 10px 0;
}
.service-text {
    line-height: 1.3rem;
    text-align: left;
}
@media only screen and (max-width: 1200px) {
    .services h3 {
        font-size: 1.2rem;
    }
    .services p {
        font-size: 0.9rem;
    }
}
@media only screen and (max-width: 900px) {
    .services-container {
        display: flex;
        flex-direction: column;
    }
    .services {
        width: 95%;
    }
}

/* projects page styles
========================================================*/
.project-page {
    margin-top: 120px;
}
.irl {
    font-size: 1.4rem;
    height: 2rem;
    margin: 2rem 0;
}